<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MVCShop1114</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>urlMapFile</param-name>
  	<param-value>/WEB-INF/url.properties</param-value>  	
  </context-param>
  <context-param>
  	<param-name>adminPw</param-name>
  	<param-value>1234</param-value>  	
  </context-param>
  <context-param>
     <param-name>adminID</param-name>
  	 <param-value>admin</param-value>
  </context-param>
  
 
  <filter>
  	<filter-name>MyFilter</filter-name>
	<filter-class>com.filter.MyFilter</filter-class>
  </filter>
	<filter-mapping>
	<filter-name>MyFilter</filter-name>
	<url-pattern>/*</url-pattern>
	</filter-mapping>  
  <!-- 에러 처리하기 -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/err404.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/error/err500.jsp</location>
  </error-page>
  
  
  <servlet>
	  <servlet-name>MainControll</servlet-name>
	  <servlet-class>mvc.Controll.MainControll</servlet-class>
	  <multipart-config>
	  	<location>C:\JSP\apache-tomcat-8.5.34\webapps\temp</location>
	  	<max-file-size>-1</max-file-size>
		<max-request-size>-1</max-request-size>
		<file-size-threshold>1024</file-size-threshold>
	  </multipart-config>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>MainControll</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
</web-app>